@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

a {
    text-decoration: none;
    color: black;
}


body {
    background: #e0e0e0;
}


.wrapper {
    margin: 0 auto;
    max-width: 75rem;
}


header {
    display: flex;
    align-items: center;
    height: 6.5rem;
}
header img {
    margin-right: auto;
}
header ul {
    display: flex;
    gap: 2rem;
}
header ul a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: "poppins";
    font-weight: 400;
    position: relative;
}
header ul a::before {
    content: "";
    position: absolute;
    width: 1.25rem;
    inset: 0% 0% -6px 0%;
    border-bottom: 2px solid gray;
    transform-origin: left;
    transform: scalex(0);
    transition: all 0.2s ease;
}
header ul a:hover::before {
    border-bottom: 2px solid gray;
    transform: scalex(1);
}
header ul a.active::before {
    border-bottom: 2px solid black;
    transform: scalex(1);
}


main {
    display: flex;
    gap: 5rem;
    margin-top: 6.5rem;
}


.left {
    max-width: 33.75rem;
}
.left section h1 {
    font-family: 'Playfair Display';
    font-weight: 300;
    font-size: 3.25rem;
    margin: 0;
}
.left section p {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.4;
}


.cta-btns {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 4rem 0%;
}
.cta-btns a {
    font-size: 1.125rem;
    font-weight: 700;
    font-family: "poppins";
    background-color: #d5d3c4;
    padding: 1.125rem 2rem;
    border-radius: 125rem;
    text-decoration: none;
    color: black;
}
.cta-btns span {
    font-family: 'poppins';
    font-size: 1.125rem;
    font-weight: normal;
}
.cta-btns svg {
    width: 1.25rem;
}


.news {
    display: flex;
    gap: 1.5rem;
    position: relative;
    padding: 3rem;
    border: solid 1px;
    border-radius: 1rem;
}
.news::before {
    content: "";
    position: absolute;
    background-image: url(../image/fx-1.svg);
    inset: -1rem 28rem 5rem -1rem;
}
.news p:first-child {
    font-size: 2rem;
    font-family: 'poppins';
    font-weight: 200;
    margin: 0%;
}
.news p:last-child {
    font-size: 0.875rem;
    font-family: 'poppins';
    font-weight: 400;
    margin: 0%;
}


.right {
    width: 36.25rem;
    display: grid;
    gap: 2rem;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-template-areas: 
        "left right"
        "left bottom" ;
}
.right > div {
    border-radius: 1rem;
    position: relative;
    padding: 1rem;
    display: flex;
}
.right > div::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    border-radius: 1rem;
    backdrop-filter: brightness(0.8);

}
.right > div:nth-of-type(1) {
    grid-area: left;
    position: relative;
    background-image: url(../image/background-1.jpg);
    background-size: 130%;
    background-position: 20%;
}
.right > div:nth-of-type(1)::before {
    content: "";
    position: absolute;
    background-image: url(../image/fx-2.svg);
    background-repeat: no-repeat;
    inset: 1rem 0rem 0rem -2rem ;
    transform: rotate(-10deg);
    z-index: 0;
}
.right > div:nth-of-type(2) {
    grid-area: right;
    background-image: url(../image/background-2.jpg);
    background-size: 140%;
}
.right > div:nth-of-type(3) {
    grid-area: bottom;
    background-image: url(../image/background-3.jpg);
    background-size: 140%;
    background-position: 90%;
}
.right > div > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
    box-shadow: #0001 0 0 0.5rem;
    border: 1px solid #aaa1;
    padding: 1.25rem;
    border-radius: 0.5rem;
    margin-top: auto;
    margin-bottom: 0%;
    z-index: 1;
}
.right > div > div > div > a {
    font-family: "poppins";
    font-size: 1rem;
    font-weight: 700;
}
.right > div > div > div > p {
    font-family: "poppins";
    font-size: 0.875rem;
    margin: 0.25rem 0% 0% 0%;
}
.right > div > div > p {
    font-family: "poppins";
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0%;
}